.DS_Store
.idea/compiler.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/59c29391-9610-48aa-a8e0-420f74413bf2.xml
.idea/dataSources/59c29391-9610-48aa-a8e0-420f74413bf2/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/59c29391-9610-48aa-a8e0-420f74413bf2/storage_v2/_src_/schema/mysql.osA4Bg.meta
.idea/dataSources/59c29391-9610-48aa-a8e0-420f74413bf2/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
.idea/dataSources/59c29391-9610-48aa-a8e0-420f74413bf2/storage_v2/_src_/schema/ssc_project.3fxQcA.meta
.idea/dataSources/59c29391-9610-48aa-a8e0-420f74413bf2/storage_v2/_src_/schema/sys.zb4BAA.meta
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd
backend.iml
.idea/modules.xml
package-lock.json
